section {
    font-family:'Roboto',sans-serif;
    margin: 0;
}
section h2 {
    text-decoration: underline;
}
/*Seccion de estadisticas*/
#states {
    margin-bottom: 20px;
}
#states div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#states article {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#states h3 {
    font-size: 2rem;
    margin: 15px;
}
/*Seccion de Novedades*/
#news {
    margin-bottom: 30px;
}
#news li{
    margin: 5px;
}
/*Seccion de Objetivos*/
#index-goals {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.goal {
    flex: 1;
    text-align: justify;
}
.goal li{
    margin: 5px;
}